<div class="search-form">
    <form method="POST" action="">
        <div class="mb-3 mt-3 form-group">
            <label for="search" class="form-label">Email:</label>
            <input type="text" class="form-control" id="search" placeholder="Enter information for search..." name="q">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>